################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/20090534.BookStore/.vs/20090534.BookStore
/20090534.BookStore/20090534.BookStore/bin/Debug/netcoreapp3.1
/20090534.BookStore/20090534.BookStore/obj
/20090534.BookStore/20090534.BookStore/wwwroot
